@import(models/media.{type MediaItem})
@props(items: List(MediaItem))

<template l-for="item in items">
  <div class="cell {{ item.cell_class }}">
    <div class="img-wrap">
      <img src="{{ item.url }}" alt="{{ item.tagged_users_display }}" loading="lazy" />
      <div class="cell-overlay">
        <span class="cell-date">{{ item.date_taken }}</span>
        <span class="cell-users">{{ item.tagged_users_display }}</span>
        <span class="cell-place">{{ item.place }}</span>
      </div>
    </div>
  </div>
</template>
